<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Short link</title>
</head>
<body>
<div>
    <form th:action="@{create-link}" th:method="post" th:object="${link}" style="display: inline-grid;">
        <label for="original">Original:</label>
        <input th:type="text" id = "original" style="width: 250px" th:field="*{origin}">
        <label for="generated">Shorted:</label>
        <input th:type="text" id = "generated" style="width: 250px" th:value="${link.getGeneratedLink()}" readonly>
        <input th:type="submit" th:value="Shorting">
    </form>
</div>
</body>
</html>