<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{user/create-link}" th:method="post" th:object="${newLink}" style="display: inline-grid;">
  <label for="original">Original:</label>
  <input th:type="text" id = "original" style="width: 250px" th:field="*{origin}">
  <input th:type="submit" th:value="Shorting">
</form>
<table>
  <thead>
  <tr>
    <th class="th_train">Original</th>
    <th class="th_train">Short</th>
    <th class="th_train">Date delete</th>
    <th class="th_train">Active</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="link : ${links}">
    <td th:text="${link.origin}"></td>
    <td th:text="${link.getGeneratedLink()}"></td>
    <td th:text="${link.getDate()}"></td>
    <td th:switch="${link.active}">
    <form th:case="true" th:action="@{/{id}/disable(id = ${link.id})}" th:method="PUT">
      <input style="background: green" th:type="submit" th:value="Enable">
    </form>
    <form th:case="false" th:action="@{/{id}/enable(id = ${link.id})}" th:method="PUT">
      <input style="background: red" th:type="submit" th:value="Disable">
    </form>
    </td>
    <td>
    <form  th:action="@{/{id}(id = ${link.id})}" th:method="DELETE">
      <input style="background: orange" th:type="submit" th:value="remove">
    </form>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>