<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>

    <title>Sign In</title>
</head>
<body>
    <div >
        <form class="container-center" th:action="@{/sign-in}" method="post">
            <div class="massage-fail" th:if="${param.error}">
                Invalid username or password.
            </div>
            <label class="label-input-big"> login : </label>
            <br>
            <input class="input-big" type="text" name="username"/>
            <label class="label-input-big"> password:  </label>
            <br>
            <input class="input-big" type="password" name="password"/>
            <div class="div-button-center">
                <input class="button-login-big" type="submit" value="Sign In"/>
                <br>
                <a class="link-hidden" href="/sign-up">Sign Up</a>
            </div>
        </form>
    </div>
</body>
</html>